.main-page-container {
  width: 100vw;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2940a8;
  background-image: url("../../assets/img/spotify-bg.svg");
  background-size: 175%;
  background-position: 46% 4%;
  z-index: 0;
}

.main_page {
  z-index: 0;
  padding: 0px 20px 0 110px;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_page > a {
  background-color: #1ed760;
  padding: 20px 40px 20px 40px;
  border-radius: 99px;
  font-weight: 700;
  color: #2940a8;
  text-decoration: none;
}
.main_page > a:hover {
  background-color: white;
}
.main_tagline {
  color: #1ed760;
  font-size: 190px;
  line-height: 225px;
  margin: -30px 55px 50px 40px;
  text-align: center;
  text-indent: -2em;
  font-weight: 800;
}

.main_tagline > span {
  margin: 350px 0 400px 180px;
}

.description {
  text-align: center;
  color: #1ed760;
  margin: 10px 30px 50px 0px;
  font-size: 24px;
}

@media (max-width: 1550px) 
{
  .main-page-container {
    background-size: 258%;
    background-position: 55% 26%;
    }
  .main_tagline {
    font-size: 140px;
    letter-spacing: -0.04em !important;
    line-height: 150px;
    text-indent: 0;
  }
  .main_tagline > span {
    margin: 350px 0 400px 0;
  }
}
@media (max-width: 1300px)
 {
  .main-page-container {
  background-size: 505%;
    background-position: 66% 30%;
  }
}

@media (max-width: 1000px) {
  .main_tagline {
    color: #1ed760;
    font-size: 70px;
    text-indent: -0.9em;
  }
  .main_page {
    padding: 0 0 0 0;
  }

  }
  @media(max-width: 750px){
    .main_tagline{
      font-size: 70px;
      text-indent: 0;
      line-height: 80px;
    }
    main_tagline > span {
      margin: 50px 0 00px 0;
    }
  }
