.nav {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
}

a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 800;
}

.nav_links > li > a:hover,
.nothing > li > a:hover {
  color: #1ed760;
}
.nav > img {
  height: 40px;
  padding-right: 120px;
  margin: 0 auto;
}
.logo:hover {
  cursor: pointer;
}
.nav_links, .nothing {
  display: flex;
  margin: 0 auto;
  list-style: none;
  padding-left: 160px;
  width: 500px;
  justify-content: space-evenly;
}
.nav_separator {
  border-left: 1px solid white;
  height: 20px;
}
.nav_burger_image {
  display: none;
}

@media (max-width: 1200px) {
  .nav_links, .nothing {
    padding-left: 130px;
  }
  .nav > img {
    padding-right: 100px;
  }
}

  @media (max-width: 1000px) {
  .nav {
    height: 55px;
  }
  .nav > img {
    height: 28px;
    padding-right: 800px;
    }
    .burgerMenu {
    width: 1rem;
    height: 1.5rem;
    position: fixed;
    top: 15px;
    right: 12%;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    padding-left: 400px;
    cursor: pointer;
    }
  .burgerMenu > span {
    width: 1.5rem;
    height: 0.2rem;
    background-color: white;
    border-radius: 7px;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }
  .rotateClockwise {
    transform: rotate(45deg);
  }
  .fullTranslate {
    transform: translate(100%);
    opacity: 0;
  }
  .noTranslate {
    transform: translate(0);
    opacity: 1;
  }
  .rotateAntiClockwise {
    transform: rotate(-45deg);
  }
  .nothing {
    display: none;
  }

  .nav_links {
    display: none;
    display: flex;
    flex-flow: column nowrap;
    background-color: black;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 400px;
    padding-left: 50px;
    justify-content: unset;
    }

  .nav_links >li > a {
    font-size: 33px;
   }
  .nav_links >li {
    padding-top: 30px;
  }
  .nav_separator {
    border-left: 3px solid white;
    height: 4px;
    margin: 30px 0 20px 20px;
    transform: rotate(90deg);
    transform-origin: 1px;
  }
  .separator {
    font-size: 30px;
    font-weight: 600;
    color: #d9dadc;
  }
  .nav_links >dt {
    margin: 0 0 20px 0;
   }
   .nav_burger_image {
    display: block;
    padding-top: 250px;
  }
  .nav_burger_image > img {
    font: 20px;
    height: 30px;
  }
}

@media (max-width: 400px){
  .nav_links {
    width: 100vw;
    margin-left: 20px;
  }
  .nav_links > li, .nav_links >dt {
    margin-left: 30px;
  }
  .nav_separator {
    transform-origin: 20px;
    margin-top: 50px;
  }
  .nav_links >li > a {
    font-size: 27px;
   }
   .separator {
    font-size: 24px;
    font-weight: 600;
    color: #d9dadc;
  }
  .nav_burger_image > img {
    margin-left: 20px;
  }
}

