.nav {
  background-color: black;
  /* color: white; */
  display: flex;
  justify-content: space-between;
  width: 100vw;
  /* height: 80px; */
  /* max-width: 1170; */
  position: fixed;
  top: 0;
  z-index: 1;
}
.nav_logo {
  height: 40px;
  margin-top: 20px;
  padding-left: 23%;
  /* font-size: 20px; */
}
.nav_buttons {
  display: flex;
  padding-right: 18%;
  padding-top: 28px 17px;
  padding-left: 12%;
}
.nav_button {
  /* margin: 20px; */
  color: white;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  display: block;
  padding: 17px 17px;
  font: 16px;
  letter-spacing: 0;
  /* line-height: inherit; */
  /* font-weight: bolder; */
}
.nav_button:hover {
  color: #1ed760;
}
.nav_separator {
  margin-top: 20px;
  color: black;
  /* display: inline-block; */
  height: 17px;
  border-left: 1px solid white;
  margin-left: 15px;
}
.m_icon {
  color: white;
}
