.footer {
  background-color: black;
  object-fit: contain;
  /* padding-top: 300px; */
  min-height: 45vh;

  padding-top: 70px;
  justify-content: center;
  width: 100vw;
  place-items: center;
}
.footer_main {
  /* justify-content: space-between; */
  display: flex;
  padding-left: 23%;
  /* width: 100%; */
  justify-content: space-between;
}
.logo_box {
  /* padding-left: 200px; */
}
.top_links_box {
  margin-right: 20%;
  padding-right: 30%;
}
.top_links_box > dl {
  /* justify-content: space-between; */
  display: block;
  padding-left: 11%;
  font-weight: 800;
  font-size: 12px;
  font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
}
.top_links_box > dl > dt {
  padding-left: 35%;
  color: #919496;
}

.top_links_box > dl > dd > a {
  padding-top: 20px;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  font-family: sans-serif;
  /* display: inline-block; */
}
.top_links_box > dl > dd > a:hover {
  color: #1db954;
}
.footer_logo {
  height: 40px;
}
.instagram_logo img {
  /* background: url("./assets/img/insta-bg.svg"); */
  /* background-image: url("./assets/img/spotify-bg.svg"); */
  /* border-image-source: image("/assets/img/insta-logo.svg"); */
  background-color: #fff;
}
.footer_main {
  display: flex;
}
.top_links_box {
  display: flex;
  color: white;
  /* padding-left: 100px; */
}
.about_link > a,
.artists_link > a,
.help_link > a {
  color: white;
  display: block;
}
/* .artists_link > a {
  color: white;
  display: block;
}
.help_link > a {
  color: white;
  display: block;
} */
.icons {
  display: flex;
}
.footer_bottom {
  padding-top: 70px;
  /* padding-bottom: 50px; */
}
.bottom_left {
  /* padding-left: 180px; */
}
.bottom_left > a {
  color: #919496;
  font-weight: 700;
  font-size: 10px;
  padding-right: 35px;
}
.bottom_left > a:hover {
  color: #1db954;
}
