.footer {
  background-color: black;
  width: 100vw;
  min-height: 550px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.footer_main {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.top_links_box {
  display: flex;
  color: white;
  margin-right: 40px;
}
.top_links_box > dl {
  display: block;
  margin-right: 50px;
}
.top_links_box > dl > dt {
  margin-left: 25%;
  padding-bottom: 10px;
  color: #919496;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.08em;
}

.top_links_box > dl > dd > a {
  padding-top: 25px;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
}
.top_links_box > dl > dd > a:hover {
  color: #1db954;
}
.footer_logo {
  height: 40px;
}
.about_link > a,
.artists_link > a,
.help_link > a {
  display: block;
}

.icons {
  display: flex;
  padding-left: 150px;
}
.icons > li {
  list-style: none;
  padding-right: 10px;
}
.icons > li > a {
  background-color: #222326;
  border-radius: 50%;
  padding: 23px 15px 12px 12px;
}
.icons > li > a > i {
  font-size: 30px;
  border-radius: 50%;
}
.icons > li > a > i:hover {
  color: #1db954;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer_bottom > dl > a {
  color: #919496;
  font-weight: 700;
  font-size: 12px;
}
.bottom_left {
  padding-right: 300px;
}
.bottom_left > a {
  padding-right: 20px;
}
.bottom_left > a:hover {
  color: #1db954;
}
.bottom-right {
  padding-left: 300px;
}
.bottom-right > a {
  display: block;
}
.bottom-right > a:hover {
  color: #1db954;
}

.bottom-right > a > img {
  width: 30px;
  padding-left: 20px;
}

@media (max-width: 1200px) {
  .top_links_box {
    min-width: 0px;
    margin-right: 0;
  }
  .top_links_box > dl {
    display: block;
    padding-left: 0;
  }
  .icons {
    padding-left: 30px;
  }
  .bottom_left {
    padding-right: 200px;
  }
  .bottom-right {
    padding-left: 200px;
  }
  .bottom-right {
    margin-block-end: 0;
  }
}

@media (max-width: 1000px) {
  .footer {
    min-height: 100vh;
    width: 100%;
  }
  .footer_main {
    display: block;
  }
  .footer_logo {
    height: 28px;
    padding-left: 30px;
  }
  .top_links_box {
    margin-left: 0;
    padding-top: 70px;
    justify-content: space-between;
  }
  .top_links_box > dl {
    padding-left: 0;
    padding-right: 60px;
  }
  .icons {
    padding-left: 0;
    margin: auto 0;
  }
  .social_icons {
    padding-left: 0vw;
    padding-top: 140px;
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    padding-top: 20px;
  }
  .bottom_left {
    display: flex;
    flex-flow: row;
    padding-left: 0;
    margin: 20px auto 60px auto;
  }
  .bottom_left > a {
    padding: 0 10px;
  }
  .bottom-right {
    padding-left: 0;
    margin: 0 auto;
  }
  .bottom-right > a {
    padding: 0;
  }
}

@media (max-width: 800px) {
  .footer_main {
    display: block;
    width: 100vw;
    
  }
  .footer_logo {
    padding-left: 15px;
  }

  .top_links_box {
    display: block;
    padding: 32px 0 0 15px;
  }
  .top_links_box > dl {
    padding: 30px 0;
  }
  .top_links_box > dl > dt {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .top_links_box > dl > dd {
    margin-inline-start: 0;
  }
  .top_links_box > dl > dd > a {
    padding: 15px 0px;
  }
  .icons > li > a {
    background-color: #222326;
    border-radius: 50%;
    padding: 20px 2px 10px 3px;
  }
  .icons > li > a > i {
    font-size: 33px;
    padding: 10px 10px 5px 4px;
    border-radius: 50%;
  }
  .social_icons {
    padding: 80px 0 20px 15px;
    /* padding-bottom: 20px; */
  }
  .footer_bottom {
    justify-content: space-between;
    margin: 0;
    padding: 20px 0;
  }
  .footer_bottom > dl > a {
    font-size: 12px;
  }
  .bottom_left {
    padding: 0 0 0 15px;
    margin: 0;
    display: block;
  }

  .bottom_left > a {
    padding: 10px;
  }

  .bottom-right {
    padding-right: 0;
    margin: 0;
    padding-left: 72px;
  }
  .bottom-right > a > img {
    padding: 0;
  }
}
